* {
	margin: 0;
	padding: 0;
}

body {
	width: 855;
    font-size: 100%;
    margin: auto;
}

header, main, footer {
    min-width: 855px;
}

header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    float: left;
    min-width: 285px;
}

header {
    overflow: auto;
    margin: auto;
    min-width: 855px;
}
header.left {
    max-width: 285px;
}
header.right {
    max-width: 570px;
}

h3 {
    float: right;    
    min-width: 570px;
    font-size: larger;
    margin-top: 8px;
    font-style: italic;
    font-weight: bold;
}

hr {
    clear: both;
}

.comment-input {
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.4em;
    margin: 15px;
    float: left;
    width: 285px;
}

main {
    overflow: auto;
}

input {
    margin-right: 3px;
}

.comments {
    float: right;
    width: 570px;
    
}